<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Pagados</title>
</head>
<body>
    <h1>Pedidos Pagados</h1>
    {{#each pedi}}
    {{folio}}
    {{tip_status}}
    {{/each}}
</body>
</html>