<style>
    body {
        zoom: 80%;
    }
</style>



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de venta</title>
</head>

<body>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

            <!--creacion de cabla-->
            <table class="table">
                <thead class="table-dark">
                    <!--color de la tabla-->
                    <tr>

                        <th class="w-20 py-4 px-4 fs-5 ..."></th>


                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</body>

</html>